<%include ./common/header.ejs%>
<body>

<h1 style="text-align: center;font-size: 100px;font-family: Helvetica;">angular2 club</h1>
<h1 style="text-align: center;font-family: 'Microsoft Yahei';">网站正在开发中，敬请期待......</h1>

<%include ./common/scripts.ejs%>
</body>
<%include ./common/footer.ejs%>
