<%include ./common/header.ejs%>

    <body>

        <h1 style="text-align: center;font-size: 100px;font-family: Helvetica;">angular2 club</h1>
        <h1 style="text-align: center;font-family: 'Microsoft Yahei';">网站正在开发中，敬请期待......</h1>
        <h3 style="text-align: center;font-family: 'Microsoft Yahei';">github项目地址：<a href="https://github.com/WilliamDu1981/angular2club">https://github.com/WilliamDu1981/angular2club</a> </h3>
        <h3 style="text-align: center;font-family: 'Microsoft Yahei';">qq群:<a href="http://jq.qq.com/?_wv=1027&k=fkBdwB">461460156</a> ,欢迎志趣相投的朋友加入！</h3>

<%if(user){%>
    <p>
        <%=user.account%>
    </p>
    <p>
        <%=user.nickName%>
    </p>
    <img src="<%=user.profile.avatar%>" alt="avatar">
    <a href="/signout">退出登录</a>
<%}else{%>
    <a href="/signin">请登录</a>
<%}%>


<%include ./common/scripts.ejs%>
<script>
    (function(){

        document.querySelector('#btn')
                .addEventListener('click',function(){
                    sendAjax({
                        url:'/topic/564d69192080fc341884503b/vote?vote=1',
                        method:'PUT'
                    },function(resp){
                        console.log(resp);
                    },function(status,text){
                        console.error(status,text);
                    }) ;
                });
    })();
</script>
</body>
<%include ./common/footer.ejs%>
