<%include ../common/header.ejs%>
<body>

<div>
    <form id="signupForm">
        <div>
            <input name="account" type="email">
        </div>
        <div>
            <input name="nickName" type="text">
        </div>
        <div>
            <input name="password" type="password">
        </div>
        <div>
            <button type="submit">注册</button>
        </div>
    </form>

</div>

<%include ../common/scripts.ejs%>
<script>
    document.querySelector('#signupForm')
            .addEventListener('submit',function(e){
                e.preventDefault();

                var parmas={
                    account:document.querySelector('[name="account"]').value,
                    nickName:document.querySelector('[name="nickName"]').value,
                    password:document.querySelector('[name="password"]').value
                };


                sendAjax({
                    url:'/signup',
                    method:'POST',
                    data:parmas
                },function(resp){
                  alert('注册成功,请前往邮箱激活帐号');
                  console.log(resp);
                },function (err) {
                  console.error(err);
                });
            });
</script>

</body>
<%include ../common/footer.ejs%>
