<%include ../common/header.ejs%>
<body layout="column">
  <common-toolbar></common-toolbar>
  <md-content layout="row"
    layout-align="center center">
        <div flex="30" class="md-whiteframe-1dp mdl-mg-2x mdl-pd-2x" style="min-width:500px;" ui-view>
        </div>
  </md-content>
<input type="hidden" value="<%=qq%>" name=qq>
<input type="hidden" value="<%=github%>" name=github>
<%include ../common/scripts.ejs%>
<script>
angular.element(window).on('load', function () {
  angular.bootstrap(document,['app.register']);
});
</script>
</body>
<%include ../common/footer.ejs%>
