<%include ../common/header.ejs%>
<body>

<div>

    <form id="loginForm">
        <div>
            <input type="email" name="account">
        </div>
        <div>

            <input type="password" name="password">
        </div>
        <div>
            <button class="waves-effect waves-light btn" type="submit">登录</button>
        </div>
    </form>

    <h3>
        <a href="<%=qq%>">
        QQ登录</a>
    </h3>
    <p>

        <a href="<%=github%>">github登录</a>
    </p>
</div>

<%include ../common/scripts.ejs%>
<script>
    document.querySelector('#loginForm')
            .addEventListener('submit',function(e){
                var parmas={
                    account:document.querySelector('[name="account"]').value,
                    password:document.querySelector('[name="password"]').value
                };

                e.preventDefault();
                sendAjax({
                    url:'/signin',
                    method:'POST',
                    data:parmas
                },function(resp){
                    console.log(resp);
                });
            });
</script>
</body>
<%include ../common/footer.ejs%>
