<%include ../common/header.ejs%>
<body>

<div>

    <h3>
        <a href="<%=qq%>">
        QQ登录</a>
    </h3>
    <p>

        <a href="<%=github%>">github登录</a>
    </p>
</div>

<%include ../common/scripts.ejs%>
</body>
<%include ../common/footer.ejs%>
