<%include ../common/header.ejs%>
<body layout="column">
  <common-toolbar></common-toolbar>
  <md-content layout="row"
    layout-align="center center"
    ng-controller="LoginController">
        <div flex="30" class="md-whiteframe-1dp mdl-mg-2x mdl-pd-2x" style="min-width:500px;">
            <login-form
              form-title="登录"
              on-success="onSuccess(user)"
              on-error="onError(error)">
            </login-form>
        </div>
  </md-content>
<input type="hidden" value="<%=qq%>" name=qq>
<input type="hidden" value="<%=github%>" name=github>
<%include ../common/scripts.ejs%>
<script>
angular.element(window).on('load', function () {
  angular.bootstrap(document,['app.login']);
});
</script>
</body>
<%include ../common/footer.ejs%>
