<%include ../common/header.ejs%>
<body>

<div>

    <form id="loginForm">
        <div>
            <input type="email" name="account">
        </div>
        <div>

            <input type="password" name="password">
        </div>
        <div>
            <button class="waves-effect waves-light btn" type="submit">登录</button>
        </div>
    </form>

    <h3>
        <a href="<%=qq%>">
        QQ登录</a>
    </h3>
    <h3>
        <a href="<%=github%>">github登录</a>
    </h3>
    <h3>
        <a href="/signup">注册</a>
    </h3>
</div>

<%include ../common/scripts.ejs%>
<script>
  (function () {
    var loginForm=document.querySelector('#loginForm');

    loginForm.addEventListener('submit',onSubmit);

    function onSubmit(e){
      e.preventDefault();

      var data={
        account:this.account.value,
        password:this.password.value
      }

      sendAjax({
          url:'/signin',
          method:'POST',
          data:data
      },function(resp){
          console.log(resp);
      });
      sendAjax({
          url:'/test/post',
          method:'POST',
          data:new FormData(this)
      },function(resp){
          console.log(resp);
          window.location.href='/';
      });
    }
  })();



</script>
</body>
<%include ../common/footer.ejs%>
