<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="shortcut icon" href="./images/favicon.ico"/>
    <meta property="qc:admins" content="55136337775412263452"/>
    <meta property="wb:webmaster" content="ce2ab36ebe433e44" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script>
        //百度统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?562c791c0f745a6bc710f8f06d49f321";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        function sendAjax(options,success,error){
            var xhr=new XMLHttpRequest();
            var data=options.data||{};
            var method=options.method||'GET';


            xhr.open(method,options.url);

            xhr.setRequestHeader('Content-Type','application/json');
            xhr.setRequestHeader('X-Requested-With','XMLHttpRequest')
            xhr.addEventListener('readystatechange',function(e){
                if(xhr.readyState===4){
                    if(xhr.status===200){
                        success(xhr.responseText);
                    }else{
                        error(xhr.status,xhr.statusText);
                    }
                }

            });

            xhr.send(JSON.stringify(data));
        }
    </script>
</head>
