<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="shortcut icon" href="./images/favicon.ico"/>
    <meta property="qc:admins" content="55136337775412263452"/>
</head>
