
//常用内边距
.mdl-pd-1x{
    padding: 10px;
}

.mdl-pd-2x{
    padding: 20px
}

.mdl-pd-3x{
    padding: 30px;
}

.mdl-pd-ver-1x{
    padding-top:10px;
    padding-bottom: 10px;
}

.mdl-pd-ver-2x{
    padding-top: 20px;
    padding-bottom: 20px;
}

.mdl-pd-ver-3x{
    padding-top: 30px;
    padding-bottom: 30px;
}

.mdl-pd-hor-1x{
    padding-left: 10px;
    padding-right: 10px;
}

.mdl-pd-hor-2x{
    padding-left: 20px;
    padding-right: 20px;
}

//常用外边距
.mdl-mg-1x{
    margin: 10px;
}

.mdl-mg-2x{
    margin: 20px
}

.mdl-mg-3x{
    margin: 30px;
}

.mdl-mg-ver-1x{
    margin-top:10px;
    margin-bottom: 10px;
}

.mdl-mg-ver-2x{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mdl-mg-ver-3x{
    margin-top: 30px;
    margin-bottom: 30px;
}

.mdl-mg-hor-1x{
    margin-left: 10px;
    margin-right: 10px;
}

.mdl-mg-hor-2x{
    margin-left: 20px;
    margin-right: 20px;
}

//文字对齐
.mdl-text-center{
    text-align: center;
}
.mdl-text-right{
    text-align: right;
}
