<md-toolbar class="md-whiteframe-2dp">
    <div class="md-toolbar-tools">
        <md-button aria-label="menu"
            class="md-icon-button"
            ng-click="toggleSideMenu()"
            ng-if="showMenuButton">
            <md-icon md-menu-origin md-icon="material-icons">menu</md-icon>
        </md-button>

        <h2>
            <span>Angular 2 中文社区</span>
        </h2>
        <span flex></span>

        <md-button class="md-fab md-mini" aria-label="Favorite">
          <img ng-src="{{currentUser.profile.avatar}}">
        </md-button>
    </div>
</md-toolbar>
