<md-sidenav md-component-id="leftMenu" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')">

    <md-menu-content style="background: transparent;">
        <md-menu-item>
            <md-button href="#/topics?type=0">
                <md-icon class="material-icons">select_all</md-icon>
                全部
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button href="#/topics?type=1">
                <md-icon class="material-icons">share</md-icon>
                分享
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button href="#/topics?type=0&isGood=true">
                <md-icon class="material-icons">stars</md-icon>
                精华
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button href="#/topics?type=2">
                <md-icon class="material-icons">question_answer</md-icon>
                问答
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button href="#/topics?type=3">
                <md-icon class="material-icons">work</md-icon>
                招聘
            </md-button>
        </md-menu-item>
    </md-menu-content>
    <hr>
    <md-menu-content style="background: transparent;">
      <md-menu-item>
        <md-button>
          <md-icon class="material-icons">add_circle</md-icon>
          新建
        </md-button>
      </md-menu-item>
    </md-menu-content>
</md-sidenav>
