<md-fab-speed-dial md-direction="up" class="md-fab-bottom-right md-scale">
   <md-fab-trigger>
       <md-button aria-label="发贴" class="md-fab"><md-icon class="material-icons">add</md-icon></md-button>
   </md-fab-trigger>
   <md-fab-actions>
       <md-button
        aria-label="技术分享"
        class="md-fab md-raised md-mini md-primary">
           <md-icon class="material-icons">share</md-icon>
           <md-tooltip md-direction="left">
               技术分享
           </md-tooltip>
       </md-button>

       <md-button
        aria-label="技术问答"
        class="md-fab md-raised md-mini md-primary">
           <md-icon class="material-icons">help</md-icon>
           <md-tooltip md-direction="left">
               技术问答
           </md-tooltip>
       </md-button>

       <md-button
        aria-label="招聘"
        class="md-fab md-raised md-mini md-primary">
           <md-icon class="material-icons">work</md-icon>
           <md-tooltip md-direction="left">
               招聘
           </md-tooltip>
       </md-button>
   </md-fab-actions>
</md-fab-speed-dial>
